@import "../../index.scss";

.organization {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: $mainGrey;
  padding: 2rem;

  .organization-card {
    background: $mainWhite;
    display: flex;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;

    .card-img-container {
      width: 40%;
      display: flex;
      align-items: center;

      img {
        display: block;
        width: 100%;
      }
    }

    .card-info {
      width: 60%;
      padding: 1rem 0.5rem;
      color: $mainBlack;

      .card-title {
        text-transform: capitalize;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }

      .card-subtitle {
        margin-bottom: 2rem;
      }

      .card-link {
        text-transform: capitalize;

        .card-link-icon {
          display: inline-block;
          padding-top: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .organization {
    flex-direction: row;
    justify-content: space-between;
  }

  .organization-card {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media screen and (min-width: 992px) {
  .organization-card {
    flex: 0 0 calc(33.33% - 1rem);
  }
}
