@mixin material-shadow() {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

$module-font-size: 14px;
$bezier: cubic-bezier(.25, .8, .25, 1);

.oboarding-page {
    color: white;
    font-family: "Lato";
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(150deg, #64d8cb 0%, #64d8cb 50%, #26a69a 50%, #26a69a 100%);

    &+.tabbar {
        display: none;
    }
}

// =================================================================================================
// Walkthrough
// =================================================================================================
.walkthrough {
    @include material-shadow();
    background: linear-gradient(to right bottom, #4db6ac, #00766c);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: $module-font-size;
    height: 80vh;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s $bezier, transform 0.4s $bezier, box-shadow 0.4s $bezier;
    transform: translateY(72px);
    width: 560px;
    z-index: 1000;

    @media screen and (max-width: 560px) {
        width: 100%;
        height: 100%;
    }

    &.show {
        opacity: 1;
        transform: translateY(0);
    }

    .walkthrough-body {
        align-items: center;
        display: flex;
        flex: 1;
        text-align: center;

        .prev-screen,
        .next-screen {
            align-self: stretch;
            background: none;
            border: 0;
            color: rgba(white, 0.25);
            cursor: pointer;
            flex: 0 0 auto;
            font-size: 24px;
            opacity: 1;
            outline: none;
            margin: 56px 16px 16px;
            transform: scale(1);
            transition: transform 0.4s $bezier, color 0.4s $bezier, opacity 0.4s $bezier;
            z-index: 1000;

            &:hover,
            &:active {
                color: white;
                transform-origin: center;
                transform: scale(1.25);
            }

            &:disabled {
                opacity: 0;
            }
        }

        .prev-screen {
            order: 1;
        }

        .next-screen {
            order: 3;
        }

        .screens {
            flex: 1;
            align-self: stretch;
            position: relative;
            margin: 0 -16px;
            padding: 0;
            order: 2;

            .screen {
                position: absolute;
                list-style-type: none;
                width: 100%;
                height: 100%;
                overflow: auto;
                padding: 0 16px;

                @media screen and (max-width: 560px) {
                    padding: 0;
                }

                .register-form {
                    margin-top: 64px;

                    .register-form-group {
                        &+.register-form-group {
                            margin-top: 24px;
                        }

                        label {
                            display: block;
                            font-size: 16px;
                            margin-bottom: 4px;
                            text-align: left;
                        }

                        .form-input {
                            color: #ffffff;

                            &::placeholder {
                                /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: #ffffff;
                                opacity: 0.6;
                                /* Firefox */
                            }

                            &:-ms-input-placeholder {
                                /* Internet Explorer 10-11 */
                                color: #ffffff;
                                opacity: 0.6;
                            }

                            &::-ms-input-placeholder {
                                /* Microsoft Edge */
                                color: #ffffff;
                                opacity: 0.6;
                            }
                        }

                        &.age-select {
                            text-align: left;

                            label {
                                display: inline-block;
                                margin-right: 16px;
                            }

                            select {
                                background: rgba(255, 255, 255, .2);
                                border: none;
                                border-radius: 20px;
                                color: #ffffff;
                                font-size: 16px;
                                width: 64px;
                                height: 36px;
                                outline: none;
                                padding-left: 16px;

                                * {
                                    color: black;
                                }
                            }
                        }
                    }
                }

                .skills-interests {
                    padding-top: 32px;
                }

                .tags-group {
                    .tag {
                        background-color: #ffffff;
                        border-radius: 16px;
                        color: #000000;
                        cursor: pointer;
                        display: inline-block;
                        margin: 4px 8px;
                        padding: 8px 16px;
                        transition: all 0.2s ease-in-out;

                        &.active {
                            background-color: #004d40;
                            color: #ffffff;
                            -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                            -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                        }

                        &:not(.active):hover {
                            background-color: #b2dfdb;
                            -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                            -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                        }
                    }
                }

                &.completed {
                    p {
                        margin-top: 64px;
                    }
                }
            }
        }

        .media {
            background: rgba(white, 0.25);
            border-radius: 132px;
            height: 132px;
            margin: 32px auto;
            width: 132px;
        }

        h3 {
            font-size: 30px;
            line-height: 1.4em;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            word-break: break-word;

            @media screen and (max-width: 560px) {
                font-size: 24px;
            }
        }

        p {
            line-height: 1.6em;
            font-size: 18px;
            margin: 16px 0;
            padding-top: 0;
            color: rgba(white, 0.8);

            @media screen and (max-width: 560px) {
                font-size: 16px;
            }
        }
    }

    .walkthrough-pagination {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 24px;

        .dot {
            background: rgba(black, 0.25);
            border-radius: 8px;
            height: 8px;
            margin: 0 4px;
            transform: scale(0.75);
            transition: transform 0.4s $bezier, background 0.4s $bezier;
            width: 8px;

            &.active {
                background: white;
                transform: scale(1);
                transition-delay: 0.4s;
            }
        }
    }

    .walkthrough-footer {
        display: flex;
        flex: 0 0 auto;
        justify-content: space-around;
        padding: 0;

        .button {
            height: 40px;
            border: 0;
            background: transparent;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            border-radius: 0;
            color: white;
            flex: 1;
            font-size: 12px;
            margin: 0;
            outline: 0;
            padding: 12px;
            transition: opacity 0.4s $bezier, background 0.4s $bezier;
            cursor: pointer;
            text-align: center;

            &:hover {
                background: lighten(#00867d, 3%);
            }

            &:active {
                background: #00867d;
            }

            &:disabled {
                cursor: pointer;
            }

            &.finish {
                background: #00675b;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                opacity: 0;
                transform: scale(0, 1);
                transform-origin: center;
                transition: opacity 0.4s $bezier, background 0.4s $bezier, transform 0.4s $bezier;

                &:hover {
                    background: lighten(#00867d, 3%);
                }

                &:active {
                    background: #00867d;
                }

                &.active {
                    transform: scale(1, 1);
                    opacity: 1;
                }
            }

            @media screen and (max-width: 560px) {
                height: auto;
                font-size: 16px;
                padding: 20px;
            }
        }
    }

    //Animation styles

    .screens {
        margin: 0;

        .media {
            .status-badge {
                left: 136px;
                opacity: 0;
                position: absolute;
                top: 104px;
                transform: scale(0);
                transition: opacity 0.4s $bezier, transform 0.4s $bezier;
                transition-delay: 0.6s;

                i {
                    display: inline;
                }
            }

            &.logo {
                .logo {
                    margin-top: 16px;
                    opacity: 0;
                    transform: translateY(-60px);
                    transition: opacity 0.4s $bezier, transform 0.4s $bezier;
                    width: 100px;
                }
            }

            .icon {
                opacity: 0;
                transform: translateY(-30px);
                transition: opacity 0.4s $bezier, transform 0.4s $bezier;
                width: 100px;
                margin: 16px auto;
            }

            &.skills {
                .icon {
                    transform: translate(40px, 20px);
                }
            }

            &.files {
                .icon {
                    transform: translate(40px, 20px);
                }
            }
        }

        .screen {
            opacity: 0;
            z-index: 0;
            position: absolute;
            transform: translateX(-72px);
            transition: all 0.4s $bezier;

            &.active {
                opacity: 1;
                z-index: 99;
                transform: translateX(0) scale(1);
                transition-delay: 0.4s;

                ~.screen {
                    opacity: 0;
                    transform: translateX(72px);
                }

                .media {
                    .status-badge {
                        opacity: 1;
                        transform: scale(1.75);
                    }

                    &.logo {

                        .logo {
                            opacity: 1;
                            transform: translateY(0);
                            transition-delay: 0.6s;
                        }

                        .status-badge {
                            transition-delay: 1s;
                        }
                    }

                    &.person {
                        .icon {
                            opacity: 1;
                            transform: translateY(0);
                            transition-delay: 0.6s;

                            &:nth-child(2) {
                                transition-delay: 0.725s;
                            }

                            &:nth-child(3) {
                                transition-delay: 0.850s;
                            }
                        }

                        .status-badge {
                            transition-delay: 1.4s;
                        }
                    }

                    &.skills {
                        .icon {
                            opacity: 1;
                            transform: translate(0) scale(1);
                            transition-delay: 0.6s;
                        }
                    }

                    &.files {
                        .icon {
                            opacity: 1;
                            transform: translateY(0);
                            transition-delay: 0.9s;

                            &:nth-child(3) {
                                transition-delay: 0.8s;
                            }

                            &:nth-child(2) {
                                transition-delay: 0.7s;
                            }

                            &:nth-child(1) {
                                transition-delay: 0.6s;
                            }
                        }

                        .status-badge {
                            transition-delay: 1.6s;
                        }
                    }
                }
            }
        }
    }
}