@import "../../index.scss";

.tabbar {
  background: $mainWhite;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .tabbar-item {
    background: $primaryColor;
    margin: 0 auto;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $mainTransition;

    .tabbar-icon {
      color: $mainWhite;
      font-size: 1.2rem;
      margin-bottom: 3px;
    }

    .tabbar-title {
      text-transform: uppercase;
      letter-spacing: $mainSpacing;
      color: $mainWhite;
      font-size: 0.9rem;
      font-weight: normal;
    }

    &:hover {
      //background-color: rgba(118, 74, 188, 0.8);
      opacity: 0.8;
    }
  }
}

.tabbar-active.tabbar-item {
  border-bottom: 2px solid $mainWhite;

  .tabbar-title {
    font-weight: bold;
  }
}
