@import '../../index.scss';

.test-levels {
  padding: 1rem;
  background: $lightDarkGrey;
  border-radius: 10px;
  max-width: 280px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  color: $mainBlack;
  // cursor: pointer;

  .test-levels-title {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  .test-levels-exp {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .test-levels-img-container {
    text-align: center;
    padding: 0.5rem 0;
    max-height: 80px;

    .test-levels-status {
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto 0 auto;
      padding: 0.9rem 0;
      border: 2px solid $primaryColor;
      border-radius: 50%;
      color: $primaryColor;
      font-weight: bold;
      margin-bottom: 2rem;
      position: relative;

      &-icons {
        position: absolute;
        right: -30%;
        top: -40%;

        width: 30px;
        height: 30px;
        color: $secondaryColor;
      }
    }

    .test-levels-footer {
      border-top: 1px solid $darkGrey;
      padding-top: 0.9rem;

      &--done {
        display: flex;
        justify-content: space-between;
        padding: 0;
      }
      .test-levels-links {
        font-size: 2rem;
        margin-top: 1rem;
        color: $primaryColor;
      }
    }
  }
}

.doneBcg.test-levels {
  background: $mainWhite;
}

.processing.test-levels {
  background: $mainWhite;
}
