@import '../../index.scss';

.test-levels {
  padding: 1rem;
  background: $lightDarkGrey;
  border-radius: 10px;
  max-width: 280px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  color: $mainBlack;
  cursor: pointer;

  .test-levels-title {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  .test-levels-exp {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .test-levels-img-container {
    text-align: center;
    padding: 1rem 0;
    max-height: 80px;

    img {
      width: 50px;
    }

    .test-levels-status-processing {
      display: block;
      width: 50px;
      height: 50px;
      margin: 1rem auto 0 auto;
      padding: 1rem 0;
      border: 2px solid $primaryColor;
      border-radius: 50%;
      color: $primaryColor;
      font-weight: bold;
    }
  }
}

.doneBcg.test-levels {
  background: $mainWhite;
}

.processing.test-levels {
  background: $mainWhite;

  .test-levels-img-container {
    padding: 2.5px 0;
    img {
      width: 60px;
    }
  }
}
