@import '../../../../index.scss';

.question-types-date {
  text-align: center;

  label {
    display: block;
    color: $darkGrey;
    margin-bottom: 0.7rem;
  }

  .question-types-date-input {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    border: none;
    border-bottom: 1px solid $darkGrey;
    outline: none;

    &::-webkit-inner-spin-button {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
}
