@import '../../index.scss';

.questions-page {
  background: $mainWhite !important;
  width: 100%;
  height: calc(vh - 130px);
  position: relative;

  .questions-content {
    padding: 1.5rem;
    background: $mainWhite;
    height: calc(100vh - 65px - 65px);

    p {
      font-size: 1.2rem;
      line-height: 1.3;
      margin-bottom: 3rem;
    }

    .questions-content-img-container {
      position: relative;
      width: 100%;

      img {
        display: block;
        width: 100%;
      }

      .questions-content-see-answers {
        position: absolute;
        top: 130px;
        left: 50%;
        text-transform: uppercase;
        color: $mainBlack;
        transform: translateX(-50%);
        text-decoration: underline;

        .questions-content-see-answers-icon {
          display: inline-block;
          padding-top: 3px;
        }
      }
    }
  }

  .questions-page-accept-btn {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 150px;
    height: 50px;
    background: $darkGrey;
    color: $mainWhite;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    outline: none;

    &--active {
      background: $primaryColor;
      cursor: pointer;
      &:hover {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }
      &:active {
        background-color: lighten($primaryColor, 5);
      }
    }
  }
}
