@import "../../index.scss";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: $mainGrey;
  z-index: 2;
  transition: $mainTransition;

  .sidebar-link {
    display: block;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: $mainBlack;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    background: transparent;
    transition: $mainTransition;

    &:hover {
      color: $mainWhite;
      padding-left: 2rem;
      background: $secondaryColor;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    background: $primaryColor;
    height: 52px;
    padding: 10px 20px;

    img {
      width: 32px;
      height: 32px;
      display: block;
      margin-right: 10px;
    }

    h1 {
      color: $mainWhite;
      letter-spacing: $mainSpacing;
      font-weight: bold;
    }
  }
}
