@import "../../../index.scss";

.profile-rewards {
  background: $mainGrey;
  height: 100%;
  .profile-tab {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .profile-link {
      text-transform: capitalize;
      font-size: 1.3rem;
      letter-spacing: $mainSpacing;
      color: $darkGrey;
    }
  }

  .rewards-group {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    .rewards-pair {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }
}
