@import '../../../../index.scss';

.question-types-trueFalse {
  .question-types-trueFalse-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .question-types-trueFalse-radio {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      position: relative;
      background-color: #f1f1f1;
      color: $primaryColor;
      top: 0px;
      height: 50px;
      width: 50px;
      border: 0;
      border-radius: 50px;
      cursor: pointer;
      margin-right: 7px;
      outline: none;

      &:checked::before {
        position: absolute;
        font: 30px/1 'Open Sans', sans-serif;
        left: 15px;
        top: 7px;
        content: '\02143';
        transform: rotate(40deg);
      }

      &:hover {
        background-color: #f7f7f7;
      }

      &:checked {
        background-color: #f1f1f1;
      }
    }

    label {
      font: 20px/1.7 'Open Sans', sans-serif;
      color: $mainBlack;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      cursor: pointer;
    }
  }
}
